{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "jest",
    "prettier",
    "no-only-tests"
  ],
  "env": {
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "no-only-tests/no-only-tests": 2
  }
}